---
layout: default
---
<article>
    <header>
        <div class="category">
            {{ page.category | escape }}
        </div>
        <h1>{{ page.title | escape }}</h1>
        <p class="meta-info">
            {{ page.author | default: site.author }} · {{ page.date | date: "%b %d, %Y" }}
        </p>
    </header>

    {{ content }}

    <div class="ad-section">
        <script async
            src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6810256932319207"
            crossorigin="anonymous"></script>
        <ins class="adsbygoogle" style="display:block" data-ad-format="fluid" data-ad-layout-key="-7p+eo+1+2-5"
            data-ad-client="ca-pub-6810256932319207" data-ad-slot="3185415931"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>
</article>

<section class="recent-posts">
    <h3>최근 포스트</h3>
    <ul class="recent-posts-list">
        {% assign post_counter = 0 %}
        {% for post in site.posts limit:4 %}
        {% if post.url != page.url and post_counter < 3 %} <li>
            <a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
            </li>
            {% assign post_counter = post_counter | plus: 1 %}
            {% endif %}
            {% endfor %}
    </ul>
</section>

<div class="footer">
    © Jay, Kuax
</div>